.btn {
    width: 100px;
    height: 40px;
    font-size: 16px;
    padding: 0 12px;
    border-radius: 4px;
    background-color: pink;
    color: #000;
    border: none;
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
}